body {
    background: rgb(24, 24, 47);
    color: white;
    font-size: 16px;
    width: 100%;
    height: 100vh;
}

.log {
    margin: auto;
    margin-top: 0%;
    min-height: 120vh;
    height: 100%;
    width: 98%;
    min-width: 97%;
    border: 3px groove rgba(47, 219, 254, 0.907);
    background: linear-gradient(45deg, rgba(6, 106, 109, 0.808) 40%, rgb(34, 142, 154));
    border-radius: 3px;
    box-shadow: 3px 2px 20px rgb(12, 216, 231);
    margin-left: 1%;
    font-family: Arial, Helvetica, sans-serif;
    overflow:auto;
    
}

aside {
    margin-right: 20px;
    padding-top: 20px;
    text-align: right;
}

section {
    margin-top: 5%;
    margin-left: 20px;
    width:97%;
    margin-bottom: 20%;
}
section p{
    width:100%;
    background: transparent;
    overflow:hidden;
   
}

section img{
   
    width:auto;
    height: 200px;
    overflow:hidden;
    object-fit:contain;
    margin-left: 2%;
    max-width:50%;
    max-height: 200px;
    display:inline-table;
    margin-top: 1%;
}

section video{
    
    width:45%;
    min-height: 200px;
    height: auto;
    object-fit: contain;
    margin-left: 2%;
    display: inline;
    margin-top: 1%;
    min-width: 50%;
}

input {
    padding: 10px;
    border: none;
    outline: none;
    background: transparent;
    color: white;
    font-size: 14px;
    text-align: center;
    border-radius: 10px;
    border-bottom: 1px solid rgb(255, 255, 255);
    padding-bottom: 2px;
    width:80%;
}

button {
    height: 30px;
    min-width: 50px;
    width: 60%;
    max-width: 200px;
    border-radius: 20px;
    border: blue;
    background: linear-gradient(rgb(9, 8, 8), rgb(9, 243, 251));
    color: white;
    font-size: 18px;
    cursor: pointer;
}
button {
    font-size: 14px;
    padding: 8px;
}

button:active {
    background: blue;
    border-radius: 70px;
    -webkit-border-radius: 70px;
    -moz-border-radius: 70px;
    -ms-border-radius: 70px;
    -o-border-radius: 70px;
}

h2 {
    margin-left: 60px;
}

.hidden {
    display: none;
}

.message-box {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(45deg, rgb(25, 23, 53) 44%, rgb(95, 239, 255));
    border:none;
    border-radius: 50px;
    box-shadow: 3px 2px 20px rgb(22, 233, 223);
    color:rgb(7, 243, 172);
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

#recover{
    width:20px;
    background:transparent;
    color: blueviolet;
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    padding-left: -90px;
}

input:disabled {
    background-color: transparent; /* A darker background color */
    opacity: 0.6; /* Reduce opacity to visually indicate disabled */
   /* Change cursor to not-allowed when disabled */
}

#table{
    width:98%;
    overflow: hidden;
    font-family: 'Times New Roman', Times, serif;

}
#contentA{
    min-height: 50vh;
    min-width:70% ;
    max-width: 94%;
    height: auto;
    overflow: auto;
}


#contentB{
    width:60%;
    height: 100%;
    display:flex;
    min-width: 200px;
    min-height: 500px;
    cursor:text;
    background: rgb(177, 177, 177);
    
}

.progress-bar {
    width: 95.4%;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    height: 20px;
    margin:auto;
    margin-left: 2%;
    
}
.progress {
    width: 0%;
    height: 100%;
    background-color: #4caf50;
}

.blurred {
    filter: blur(3px);
    -webkit-filter: blur(3px);
}
  
  .spinner-container {
    position: relative;
    margin:auto;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: none;
  }
  
.spinner {
    margin:auto;
    border: 4px solid rgba(6, 13, 95, 0.583);
    border-left-color: #00f5dd;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    top:50%;
    margin-left: 59%;
    margin-top: -30%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

#msg{
    position:relative;
    margin-top: 3px;
    margin-bottom:5px;
    margin-left:2%;
    color:red;
    font-weight: bold;
}


table {
    border-collapse: collapse;
    width: 50%;
    box-shadow: 3px 3px 30px black;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    row-gap: 2px;
}

#title{
    font-family: Arial, sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    color: #000000; 
    text-shadow: 2px 2px 30px black;
}
th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    border-end-start-radius: 25px;
}
th {
    background: linear-gradient(45deg, rgb(25, 23, 53) 40%, rgb(95, 239, 255));
}



.hidden {
    display: none;
}

@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600&family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#heading{
    position:absolute ;
    font-size: 40px;
    font-weight: bold;
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(0, 0, 0), rgba(0, 128, 0, 0.332));
    height:20px;
    text-shadow: 10px 10px 20px rgb(40, 241, 5);
    color:  rgb(0, 0, 0);
    margin-top:-20%;
    height: 80px;
    width: 100% ;
    border-radius:5px;
    margin-left:-20px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
}

#welcome{
    height: 30px;
    font-size: 20px;
    width:300px;
    background:black;
    position: relative;
    justify-content: right;
    margin: auto;
    right: -35%;
    border-radius: 20px 0 0 20px;
    -webkit-border-radius: 20px 0 0 20px;
    -moz-border-radius: 20px 0 0 20px;
    -ms-border-radius: 20px 0 0 20px;
    -o-border-radius: 20px 0 0 20px;
}
#bio{
    max-width: 250px;
    max-height: 100px;

}

#menubar{
    width:280px;
    height:400px;
    background:rgba(0, 0, 0, 0.593);
    display: none;
    position: absolute;
    left:45%;
    top:10%;
    z-index: 2000;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
#menuicon{
    width: 280px;
    height: 115px;
    background:rgba(6, 106, 109, 0.808);
    margin:auto;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding-left:10px;
}
#menuicon span{
    width:100px;
    height: 30px;
}
#logout{
    width:90px;
    height:25px;
    background: white;
    color: black;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-top: -600px;
    font-size: 12px;
    
}
#theme{
    width:90px;
    height:25px;
    background:white;
    color: #000000;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-left: 20px;
    margin-right: 0px;
    margin-top: -700px;
   
}
#themeico{
    display: flex;
    flex-direction: row;

}
#light {
    width:30px;
    height: 25px;
    background: #333;
}
#dark{
    margin-left: 20px;
    width: 65%;
    height:25px;
    background-color: #000000;
    color:white;
    margin-top: -8px;
    padding-top:6px;
    margin-right: -20px;
    border-radius: 0 5px 5px 0;
    -webkit-border-radius: 0 5px 5px 0;
    -moz-border-radius: 0 5px 5px 0;
    -ms-border-radius: 0 5px 5px 0;
    -o-border-radius: 0 5px 5px 0;
}
#icoset{
    margin-left: 0px;
    width:20px;
    background: none;
    font-size: 18px;
    color:white;
}

#menuicon img{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-left: 200px;
    margin-top: -35px;
    margin-bottom: 0 ;
}
#menu_clicks{
    width:75%;
    height: 280px;
    background:rgb(34, 142, 154);
    border-radius: 3px;
    margin: auto;
    margin-top: -9px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    box-shadow: 3px 3px 20px rgb(56, 54, 54);
}
.clicks{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    font-weight: 200;
 

}
.clicks button{
    display: flex;
    justify-content: center;
    align-items: center;
    color:antiquewhite;
    font-weight:lighter;

}

.click{
    width:80px;
    height: 50px;
    background: #000000;
    margin: 10px;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    justify-content: center;
    box-shadow: 3px 3px 5px black;
    font-weight:lighter;
    color:antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5px;
    font-size: 10px;
   
}
#clicks ion-icon{
    font-size: 28px;
}
#menuicon i{
    font-size: 16px;
}

/* Media Queries for Responsive Design */


.radio{
max-width: 15px;
}

#profile_pic_preview {
    width: auto;
    height: auto;
    max-width: 400px;
    max-height: 200px;
    min-width: 200px;
    min-height: 200px;
    background: gray;
    border-radius: 40px;
    margin: 0 auto;
    object-fit:center;
    margin-left: 2%;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}


#profile_table{
    width:50%;
    overflow:auto;
    margin: auto;
}

/* styles.css */

header {
    background-color: #333;
    color: rgb(7, 5, 5);
    padding: 20px 0;
    position: sticky; /* Set position to sticky */
    top: 0; /* Stick to the top */
    z-index: 1000; /* Ensure it's above other content */
    width: 100%;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header .logo h1 {
    margin: 0;
    color: aqua;
}

header nav {
    display: flex;
    align-items: center;
}

header nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    margin-left: 20px;
}

header nav a:hover {
    color: aqua;
}


header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

header nav ul li a:hover {
    color: aqua;
}

header #menu {
    cursor: pointer;
    font-size: 20px;
    color: white;
    margin-left: 20px;
}

.container {
    background-color: #1a1414;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    margin-bottom: 3px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.form-group textarea {
    resize: vertical;
    height: 100px;
}

#news-container{
   
margin: auto;
}
.news{
    background-color: #3333337d;
    box-shadow: 3px 3px 20px black;
    margin: 10px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.news:hover{
    margin:5px;
    border-radius: 2%;
    -webkit-border-radius: 2%;
    -moz-border-radius: 2%;
    -ms-border-radius: 2%;
    -o-border-radius: 2%;
}
.news img{
    width:100%;
    height: 300px;
    object-fit: contain;
    margin-left: 0;
    background-color: #1a1414;
    border-radius:5px ;
    -webkit-border-radius:5px ;
    -moz-border-radius:5px ;
    -ms-border-radius:5px ;
    -o-border-radius:5

}
.news video{
    min-width:100%;
    width: auto;
    height: auto;
}
.news img :hover{
    width:150%;
    height: auto;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    margin: 0;
    object-fit: contain;
}

.media{
    background:transparent;
    flex-wrap: nowrap;
    display: flex;
    overflow-x: auto;
    
}
.media video {
    width: 100%;
    height: 100%;
    object-fit:contain;
}
.media img{
max-width: 100%;
width: auto;
min-width: 300px;
height: 100%;
background-color: #1a1414;
margin: auto;
display: flex;
align-items: start;
justify-content: flex-start;
}
button{
    font-weight:lighter;
}
#menubar button :hover{
    color:#4caf50;
}

#interactions {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    border: 1px solid #eee;
    padding: 10px;
    border-bottom: transparent;
}
#interactions p{
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}
#user_interactions{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #eee;
    justify-content: center;
    
}

#user_interactions input{
    border:1px solid#eee;
    border-width: none;
    width: 200px;
    height: 25px;
}
#user_interactions img{
    width: 60px;
    min-width: 60px;
    min-height: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #333;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    left: 0;
    
}
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body {
    font-family: "Varela Round", sans-serif;
  }
  .toast-item {
    position: relative;
    margin: 20px;
  }
  .toast {
    width: auto;
    min-width: 250px;
    max-width: 50vw;
    padding-left: 10px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    word-break: break-word;
    min-height: 60px;
    max-height: 180px;
    overflow-y: auto;
    height: auto;
    margin: auto;
    margin-bottom: -70px;
    z-index: 10000;
  }
  .toast.error::before {
    content: "";
    width: 10px;
    height: calc(100% - 20px);
    background-color: red;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 20px 0 0 20px;
  }
  .toast.success::before {
    content: "";
    width: 10px;
    height: calc(100% - 20px);
    background-color: green;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 20px 0 0 20px;
  }
  .toast.warning::before {
    content: "";
    width: 10px;
    height: calc(100% - 20px);
    background-color: yellow;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 20px 0 0 20px;
  }
  .toast.help::before {
    content: "";
    width: 10px;
    height: calc(100% - 20px);
    background-color: blue;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 20px 0 0 20px;
  }
  .toast h3, .toast p {
    margin-left: 20px;
  }
  .toast.error h3 {
    color: red;
  }
  .toast.success h3 {
    color: green;
  }
  .toast.warning h3 {
    color: yellow;
  }
  .toast.help h3 {
    color: blue;
  }
  .toast p {
    font-size: 0.95rem;
    color: #595959;
  }
  .close {
    position: absolute;
    width: 1.35rem;
    height: 1.35rem;
    text-align: center;
    right: 10px;
    top: 10px;
    cursor: pointer;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
  .toast.error .close {
    background: red;
  }
  .toast.success .close {
    background: green;
  }
  .toast.warning .close {
    background: yellow;
    color: black;
  }
  .toast.help .close {
    background: blue;
  }
  .close:after {
    content: "×";
    font-size: 1.2rem;
    line-height: 1.2rem;
  }
  input[type=checkbox] {
    display: none;
  }
  #t-success:not(:checked) ~ .toast-item.success {
    display: none;
  }
  #t-error:not(:checked) ~ .toast-item.error {
    display: none;
  }
  #t-warning:not(:checked) ~ .toast-item.warning {
    display: none;
  }
  #t-help:not(:checked) ~ .toast-item.help {
    display: none;
  }
@media (max-width: 900px) {
    .container {
        width: 90%;
        margin: 20px auto;
    }

    header .container {
        flex-direction: column;
    }
    header nav {
        flex-direction: column;
        align-items: center;
    }

    header nav ul {
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    header nav ul li {
        
        margin: 10px 0;
    }
    .news{
        background-color: #3333337d;
        box-shadow: 3px 3px 20px black;
        margin: 10px;
        padding: 10px;
        margin-top: 10px;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
    .news:hover{
        margin:5px;
        border-radius: 2%;
        -webkit-border-radius: 2%;
        -moz-border-radius: 2%;
        -ms-border-radius: 2%;
        -o-border-radius: 2%;
    }
    .news img{
        width: 100vw;
        height: 300px;
        object-fit: contain;
        background-color: #1a1414;
        border-radius:5px ;
        -webkit-border-radius:5px ;
        -moz-border-radius:5px ;
        -ms-border-radius:5px ;
        -o-border-radius:5
    
    }
    .news video{
        min-width:100%;
        width: auto;
        height: auto;
    }
    .news img :hover{
        width: 100vw;
        height: auto;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        margin: 0;
        object-fit: contain;
    }
    
    .media{
        background:transparent;
        flex-wrap: nowrap;
        display: flex;
        overflow-x: auto;
        
    }
    .media video {
        width: 100%;
        height: 500px;
        object-fit:contain;
    }
    .media img{
    max-width: 100%;
    width: 100vw;

    height:auto;
    max-width: 100vh;
    background-color: #1a1414;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    }
    button{
        font-weight:lighter;
    }
    #menubar button :hover{
        color:#4caf50;
    }
    
}

@media (max-width: 768px) {
    .form-group label,
    .form-group input,
    .form-group select,
    .form-group textarea {
        font-size: 14px;
    }
    button {
        font-size: 14px;
    }
}

@media (max-width: 576px) {
    .container {
        width: 95%;
        padding: 10px;
    }
    .form-group input,
    .form-group select,
    .form-group textarea {
        font-size: 14px;
    }

    button {
        font-size: 14px;
    }
}

@media (max-width: 425px) {
    .container {
        width: 100%;
        padding: 10px;
    }
    #nav.sticky {
        position: relative;
        top: 0;
        width: 100%;
        z-index: 1000;
        color:black;
        background: black;
        width:95%;
        justify-content: center;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
    }

    .form-group input,
    .form-group select,
    .form-group textarea {
        font-size: 12px;
    }

    
}
