<!DOCTYPE html>
<html>
<head>
    <title>ratelog</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/s-login.css" />
</head>
<body>
    <input type="checkbox" name="t-success" id="t-success">
    <div class="toast-item success">
      <div class="toast success">
        <label for="t-success" class="close"></label>
        <h3>Success!</h3>
        <p id="success-msg-content"></p>
      </div>
    </div>
  
    <input type="checkbox" name="t-error" id="t-error">
    <div class="toast-item error">
      <div class="toast error">
        <label for="t-error" class="close"></label>
        <h3>Error!</h3>
        <p id="error-msg-content"></p>
      </div>
    </div>
  
    <input type="checkbox" name="t-warning" id="t-warning">
    <div class="toast-item warning">
      <div class="toast warning">
        <label for="t-warning" class="close"></label>
        <h3>Warning!</h3>
        <p id="warning-msg-content"></p>
      </div>
    </div>
  
    <input type="checkbox" name="t-help" id="t-help">
    <div class="toast-item help">
      <div class="toast help">
        <label for="t-help" class="close"></label>
        <h3>Help!</h3>
        <p id="help-msg-content"></p>
      </div>
    </div>
<div id="loginSection" class="log">
    <aside>
        <div id="side">
            <h1> PASSWORD<br>RECOVERY</h1>
            <p> <br> enter the 6-digit code <br> sent to your Email.</p>
        </div>
    </aside>
    <section>
        <form action="/password_saving" method="post">
            <h2>PASSWORD</h2>

            <input type="password" name="recovery_password" id="passwordInput" placeholder="New Password" minlength="6" required ><br>
            <input type="password" name="recovery_confirmpassword" id="confirmPasswordInput" placeholder="Confirm Password" minlength="6" required ><br>
            
            <br><button type="submit" id="save">save</button>
            <div id="spinner" class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
              </div>
        </form>
        <p>Didn't receive code? <a href="#" id="resendLink">Resend</a></p>
    </section>
</div>

<script src="../static/js/s-login.js"></script>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const form = document.querySelector('form[action="/password_saving"]');
    const saveButton = document.getElementById('save');
    const spinner = document.getElementById('spinner');

    form.addEventListener('submit', function(event) {
        // Prevent the default form submission behavior
        event.preventDefault();

        // Check if the form is valid
        if (form.checkValidity()) {
            // Display the spinner
            spinner.style.display = 'block';

            // Submit the form
            form.submit();
        }
    });

    // Hide the spinner initially
    spinner.style.display = 'none';
});

</script>
<script>
    const successMsg = "{{ success_msg |safe }}";
    const errorMsg = "{{ error_msg |safe }}";
    const warningMsg = "{{ warning_msg |safe }}";
    const helpMsg = "{{ help_msg |safe }}";

    if (successMsg) {
        const successCheckbox = document.getElementById("t-success");
        const successContent = document.getElementById("success-msg-content");
        successContent.innerHTML = successMsg;
        successCheckbox.checked = true;
        setTimeout(() => {   
            successCheckbox.checked = false;
        }, 5000);
    }

    if (errorMsg) {
        const errorCheckbox = document.getElementById("t-error");
        const errorContent = document.getElementById("error-msg-content");
        errorContent.innerHTML = errorMsg;
        errorCheckbox.checked = true;
        setTimeout(() => {   
            errorCheckbox.checked = false;
        }, 5000);
    }

    if (warningMsg) {
        const warningCheckbox = document.getElementById("t-warning");
        const warningContent = document.getElementById("warning-msg-content");
        warningContent.innerHTML = warningMsg;
        warningCheckbox.checked = true;
        setTimeout(() => {   
            warningCheckbox.checked = false;
        }, 5000);
    }

    if (helpMsg) {
        const helpCheckbox = document.getElementById("t-help");
        const helpContent = document.getElementById("help-msg-content");
        helpContent.innerHTML = helpMsg;
        helpCheckbox.checked = true;
        setTimeout(() => {   
            helpCheckbox.checked = false;
        }, 5000);
    }
  </script>
    
</body>
</html>
